.white {
    color: white;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}


.group0 {
    background-color: antiquewhite;
    border: pink;
    border-width: 1px;
    border-style: solid;
}

.group05 {
    background-color: rgb(251, 226, 194);
    border: pink;
    border-width: 1px;
    border-style: solid;
}

.group1 {
    background-color: rgb(253, 211, 156);
    border: pink;
    border-width: 1px;
    border-style: solid;
}

.group2 {
    background-color: rgb(253, 185, 97);
    border: pink;
    border-width: 1px;
    border-style: solid;
}

span {
    color: brown;
}

#intense {
    color: red;
    text-decoration: underline;
}