<!DOCTYPE html>
<html lang="en">

<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="text-center fst-italic">
    <p class="bg-primary text-light px-5">
      dolor sit amet consectetur adipisicing elit. Quas ducimus culpa iusto, eveniet voluptatem vitae similique et
      explicabo sint unde iste vel. Ex libero tempore incidunt quaerat accusantium, eos esse?
    </p>

    <p class="my-5 px-5"> dolor sit amet consectetur adipisicing elit. Natus molestiae earum nulla assumenda excepturi,
      rem aliquam inventore et iste molestias corrupti ex! Sapiente, debitis amet deleniti aperiam quis quos ratione.
      Officia quisquam dignissimos repellendus adipisci perspiciatis similique quo quibusdam earum illo corporis dolorum
      aut aliquid, ab, ex neque dicta maxime molestiae porro! Corporis expedita laboriosam explicabo dignissimos
      laudantium quasi delectus.
      Blanditiis animi asperiores a eos omnis doloremque laboriosam labore provident officiis. Quidem, sit aliquid!
      Itaque, asperiores. Et provident voluptates dolores quasi. Molestias aut cumque autem quas voluptate dicta earum
      laboriosam!
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="bg mx-5 my-2 col-sm bg-primary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo deleniti eveniet accusamus dolorem corrupti
        commodi, laudantium, molestias id quos fugiat dignissimos maiores nemo harum asperiores quaerat repudiandae
        obcaecati? Mollitia, repellat.
      </div>
      <div class="mx-5 my-2 col-sm bg-info">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam beatae est perferendis. Quo dolorem nemo maiores
        et doloribus. Nisi repudiandae libero corrupti dolores voluptatum ea fuga consectetur quas explicabo quis.
      </div>
      <div class="mx-5 my-2 col-sm bg-warning">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates odio iusto inventore accusamus et deleniti
        fugiat aliquid rerum doloremque odit, iste sunt porro autem aut quae consectetur ratione? Optio, culpa.
      </div>
      <img src="/templates/camera_capture.jpg" class="img-fluid" alt="" width="150" height="150">
    </div>
  </div>
</body>

</html>