<!DOCTYPE html>
<html lang="en">

<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h2>my design</h2>

  <div class="group0">
    <p>僕は今まで<span>機械学習</span>の勉強をしてきましたが,<br>特に<span>画像関連</span>の分野が好きでした。</p>
  </div>
  <div class="group05">
    <p>そんな訳で僕は<span id="intense">貴社</span>のもとで<br>働きたいのでございます。</p>
  </div>
  <div class="group1">
    <ul>
      <li class="white">牛乳</li>
      <li class="yellow">たまご</li>
      <li class="orange">にんじん</li>
    </ul>
  </div>

  <div class="group2">
    <img src="camera_capture.jpg" class="img-fluid">
    <form action="https://www.google.com" method="post"></form>
    <label for="username">ユーザー名</label>
    <input type="text" name="username" id="username" placeholder="ユーザー名">
    <a href="{{ url_for('camtest') }}">Let's take a photo!</a>
  </div>
</body>

</html>